.header {
  position: relative;

  .header-img {
    height: 496px
  }

  .header-card {
    margin-top: -100px;
   
    .header-text{
      font-size: 24px;   
      letter-spacing: 10px;
      color: white;
    }
    .header-over{
      background-color: rgba(116,175,190,.8);
      z-index:-1;
      transition: all .3s;
      position:absolute;
      top:0;
      bottom:0;
      right:0;
      left:0;
      &:hover{
        background-color: rgba(253, 239, 244, .8);
      }
    } 
    .card-bg{
      position:absolute;
      top:0;
      bottom:0;
      left:0;
      right:0;
      filter: blur(5);
      z-index:-2;
    }
  }
  
  .card-content{
    position: relative;
    height: 256px;
    writing-mode: vertical-rl;
    overflow: hidden;
    z-index:2;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
  }
}